adf_publish2/pipeline/pl_lookup_parameteraized.json
{
	"name": "pl_lookup_parameteraized",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select table_schema,table_name from information_schema.tables \nwhere table_schema = 'HumanResources' and table_type = 'base table'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "new_asql_dataset1",
						"type": "DatasetReference",
						"parameters": {
							"servername": {
								"value": "@pipeline().parameters.servernamefrompipeline",
								"type": "Expression"
							},
							"dbname": {
								"value": "@pipeline().parameters.dbnamefrompipeline",
								"type": "Expression"
							},
							"username": {
								"value": "@pipeline().parameters.usernamefrompipeline",
								"type": "Expression"
							},
							"password": {
								"value": "@pipeline().parameters.passwordfrompipeline",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "src_new_dataset",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().table_schema",
											"type": "Expression"
										},
										"table": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "snk_new_data",
									"type": "DatasetReference",
									"parameters": {
										"date": {
											"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd')\n",
											"type": "Expression"
										},
										"filename": {
											"value": "@concat(item().table_schema, '.', item().table_name, '.csv')\r\n",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"servernamefrompipeline": {
				"type": "String"
			},
			"dbnamefrompipeline": {
				"type": "String"
			},
			"usernamefrompipeline": {
				"type": "String"
			},
			"passwordfrompipeline": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-01-06T07:31:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}